@use 'fonts';

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background-color: #f3f7fA;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #4a4a4a;
  font-weight: 400;
}